.logo {
  background: light-dark(
      url("chrome://sine/content/Arcane/svg/arcDark.svg"),
      url("chrome://sine/content/Arcane/svg/arcWhite.svg")
    )
    no-repeat center !important;
}

#search-container{
    background-color: transparent !important;
}

.main-content{
    mask-image: linear-gradient( to bottom, transparent 0px, transparent 40px, black 39px, black 100% );
}