/* Browser Tint */
#zen-main-app-wrapper {
  background: var(
    --arc-ui-tint,
    light-dark(rgb(255 255 255 / 25%), rgb(0 0 0 / 25%))
  ) !important;
}

/* WebView Shadow Remover */
@media (-moz-pref("arcane.remove-box-shadow", true)) {
  .browserSidebarContainer {
    box-shadow: none !important;
  }

  #tabbrowser-tabpanels[zen-split-view="true"]
    .browserSidebarContainer.deck-selected {
    box-shadow: none !important;
  }
}

/* WebView Rounder */
.browserSidebarContainer{
  border-radius: 12px !important;
}