/* Compact Mode Sidebar Border Radius */
.zen-toolbar-background {
  backdrop-filter: blur(50px) !important;
  &,
  &::before,
  &::after {
    border-radius: var(--arcane-border-radius, 12px) !important;
  }
}

/* Hide Workspace */
@media (-moz-pref("arcane-workspace-indicator")) {
  .zen-current-workspace-indicator {
    display: none !important;
  }
}

/* Rounded Tabs/Essentials/URLbar/WorkSpaceIndicator */
.tab-background,
.tab-background::before,
.tab-background::after,
#tabs-newtab-button,
#urlbar-container,
.urlbar-background,
.tab-group-container {
  border-radius: var(--arcane-border-radius, 12px) !important;
}

.zen-current-workspace-indicator::before{
    display:none;
}

.zen-workspaces-actions > .toolbarbutton-icon {
  border-radius: calc(var(--arcane-border-radius, 12px) - 5px) !important;
}

/* Gap Between the Sidebar */

/* ----SingleToolbar---- */
@media (-moz-pref("zen.view.compact.hide-tabbar")) or (-moz-pref("zen.view.compact.hide-toolbar")) {
  :root[zen-single-toolbar="true"][zen-compact-mode="true"] #titlebar {
    top: var(--zen-element-separation) !important;
    left: var(--zen-element-separation) !important;
    height: calc(100% - (var(--zen-element-separation) * 2)) !important;
  }

  :root[zen-single-toolbar="true"][zen-compact-mode="true"] #titlebar {
    top: var(--zen-element-separation) !important;
    left: var(--zen-element-separation) !important;
    height: calc(100% - (var(--zen-element-separation) * 2)) !important;
  }
}

/* ----MultiToolbar---- */
@media (-moz-pref("zen.view.compact.hide-tabbar")) or (-moz-pref("zen.view.compact.hide-toolbar")) {
  :root[zen-sidebar-expanded="true"]:not(
      [zen-single-toolbar="true"]
    )[zen-compact-mode="true"]
    #titlebar {
    top: var(--zen-element-separation) !important;
    left: var(--zen-element-separation) !important;
    height: calc(100% - (var(--zen-element-separation) * 3)) !important;
  }

  :root[zen-sidebar-expanded="true"]:not(
      [zen-single-toolbar="true"]
    )[zen-right-side="true"][zen-compact-mode="true"]
    #titlebar {
    left: auto !important;
    right: var(--zen-element-separation) !important;
  }
}

/* ----CollaspedToolbar ---- */
@media (-moz-pref("zen.view.compact.hide-tabbar")) or (-moz-pref("zen.view.compact.hide-toolbar")) {
  :root:not(
      [zen-sidebar-expanded="true"],
      [zen-single-toolbar="true"]
    )[zen-compact-mode="true"]
    #titlebar {
    top: var(--zen-element-separation) !important;
    left: var(--zen-element-separation) !important;
    height: calc(100% - (var(--zen-element-separation) * 3)) !important;
  }

  :root:not(
      [zen-sidebar-expanded="true"],
      [zen-single-toolbar="true"]
    )[zen-right-side="true"][zen-compact-mode="true"]
    #titlebar {
    left: auto !important;
    right: var(--zen-element-separation) !important;
  }
}
