/* Compact Mode Sidebar Border Radius */
#zen-toolbar-background,
#zen-toolbar-background::after {
  border-radius: 12px !important;
}

/* Hide Workspace */
@media (-moz-pref("arcane-workspace-indicator")) {
  .zen-current-workspace-indicator {
    display: none !important;
  }
}

/* Rounded Tabs/Essentials/URLbar */
.tab-background,
#tabs-newtab-button,
#urlbar-container,
.urlbar-background,
.tab-group-container,
.zen-current-workspace-indicator::before {
  border-radius: 12px !important;
}
